<!-- Header -->
<%- include('./includes/header.ejs') %>
<!-- End Header -->

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
		<%- include('./includes/sidebar.ejs') %>
		<!-- End Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                
                <!-- End of Topbar -->
				<%- include('./includes/navbar.ejs') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

					<div class="row">
                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
										<div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Username for login whatsapp
                                            </div>
                                            <div class="row no-gutters align-items-center">
												<form class="form-inline">
													<div class="form-group mr-sm-3 mb-2">
													  <input type="text" class="form-control" id="username" placeholder="Username">
													</div>
													<button type="submit" class="btn btn-primary mb-2">Submit</button>
												</form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Status
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Offline</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Auto Reply</h1>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Message - Reply</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>No</th>
											<th>Message</th>
											<th>Reply</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
                                        <% commands.forEach((command, key) => { %>
                                            <tr>
                                                <td><%= key + 1 %></td>
                                                <td><%= command.message %></td>
                                                <td><%= command.reply %></td>
                                                <td>
                                                    <a href="#" class="btn btn-info btn-icon-split">
                                                        <span class="text">Edit</span>
                                                    </a>
                                                    <a href="#" class="btn btn-danger btn-icon-split">
                                                        <span class="text">Delete</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('./includes/footer.ejs') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
	<%- include('./includes/js.ejs') %>
    <!-- End JS -->

</body>

</html>